@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400;1,14..32,400&display=swap');

html {
	margin: 0 1rem;
}

* {
	color: inherit;
}

body {
	font-family: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir,
	segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
	arial, sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	max-width: 40rem;
	margin: 0 auto 2rem;
}

a {
	text-underline-offset: 0.1em;
}

h1, h2, h3, h4 {
	line-height: 1.1;
	font-weight: 400;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.3rem;
}
	
article {
	border-top: 0.15rem dashed #ccc;
}

ul, ol {
  list-style-position: inside;
  padding: 0;
}

ul {
	list-style-type: none;
}

ul > li::before {
	content: "~ ";
}

li > a:only-child {
    text-decoration: none;
}

table {
	border-spacing: 0.5rem 0;
	margin-inline: -0.5rem;
}

th {
	text-align: left;
}

pre {
	overflow-x: auto;
}

pre:has(> code) {
	background: #fafafa;
	padding: 0.5em;
}

pre:has(> code), code {
	background: #fafafa;
	border-radius: 0.25em;
}

dt, dfn {
	font-style: italic;
}

aside {
    font-size: 0.9em;
    padding-left: 1em;
    border-left: 0.2rem solid #ddd;
}

a:has(dfn) {
	text-decoration: none;
}
