<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/styles.css" type="text/css"> 
</head>

<body>
	<p><a href="{{repo}}">Repo</a></p>

	<h1>{{title}}</h1>

	<p>Topics:</p>

	<ul>
	{{#pages}}
		<li><a href="{{url}}">{{title}}</a></li>
	{{/pages}}
	</ul>

	{{#references.length}}
	<p>Resources:<p>

	<ul>
	{{#references}}
	<li><a href="{{url}}" target="blank" rel="noreferrer">{{title}} ({{by}})</a></li>
	{{/references}}
	<ul>
	{{/references.length}}
</body>
