<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- TODO: sort out base urls? -->
	<link rel="stylesheet" href="../styles.css" type="text/css"> 

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
		integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">

	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"
		integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous">
		</script>
</head>

<body>
	<nav>
		<p><a href="..">Back</a></p>
	</nav>

	{{{body}}}
</body>

